---
import Images from "../components/Images.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Technologies from "../components/Technologies.vue";
import Layout from "../layouts/Layout.astro";

import { techArr, projectArr } from "../libs/arrays";
---

<Layout title="Blogfolio" description="Portfolio." type="website">
  <main>
    <h1>ahoj, tady Josef</h1>
    <p class="basic-text">
      Jsem full-stack dev/student z Prahy, co se ve volném čase za poslední
      téměř dva roky dostal z malých JS skriptů k Express a Next webovým
      aplikacím a ani omylem je nepovažuje za hranice, u kterých je dobré končit
      (koukám na tebe, Ruste).
    </p>
    <Images />
    <p class="basic-text">
      Jakkoliv klišé to zní, weby jsou opravdu jedna z mých velkých vášní. Když
      je přímo netvořím, rád si pročítám všemožné blogy nebo koukám na
      videa/podcasty o nových technologích, co stojí za zkoušku. O mých názorech
      na ně a o jiných koníčcích se dočtete na mém <a href="blog">blogu!</a>
    </p>
    <h2>Top projekty (ostatní na GitHubu níže)</h2>
    <div class="card-wrap">
      {
        projectArr.map((proj) => {
          return (
            <ProjectCard
              title={proj.title}
              desc={proj.desc}
              techs={proj.techs}
              link={proj.link}
              ghLink={proj.ghLink}
            />
          );
        })
      }
    </div>
    <p class="basic-text">
      Je samozřejmé, že neuvádím všechny projekty a všechny nástroje, které jsem
      se za tu dobu naučil. Vybral jsem jen pár z poslední doby, s kterými jsem
      v rozumné míře spokojený. Umím pracovat jak s client-side routery, tak s
      nástroji na state management, všemožnými preprocesory, knihovnami a tak
      dále. Rozhodně se také orientuji v konceptech jako jsou sessions, cookies,
      AJAX a podobné, které jsou například u Nodu nepostradatelné.
    </p>
    <div class="tech-heading-wrap">
      <h2 class="tech-heading">Technologie</h2>
      <p class="hovering">Klikni na nás!</p>
    </div>
    <div class="tech-wrap">
      <Technologies tech={techArr} client:visible />
    </div>
    <h2>Kontakty</h2>
    <p class="basic-text">
      V případě zájmu se nebojte ozvat na kterýkoliv z mých účtů nebo jen
      napište mail. Rád Vám okamžitě odpovím, ať už máte nabídku (spolu)práce,
      nebo si jen chcete popovídat o technologiích nebo nějakém Vašem zajímavém
      projektu.
    </p>
    <div class="contacts">
      <a href="https://www.linkedin.com/in/josef-h%C5%99ebec-4b10b7255/"
        >LinkedIn -></a
      >
      <a href="https://github.com/PepaHrebec">GitHub -></a>
      <div class="mail-wrap">
        <p>
          Mail: <span class="mail">josefhrebec02@gmail.com</span>
        </p>
        <div class="mail-pop">Zkopírováno</div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background-color: var(--main-backg);
    color: var(--main-text);
  }
  a {
    color: var(--main-text);
    font-weight: 700;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    font-weight: 700;
  }
  .basic-text {
    padding: 24px 0;
    line-height: 1.6;
  }
  .card-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
  }
  .tech-heading-wrap {
    position: relative;
  }
  .hovering {
    position: absolute;
    top: 0.6em;
    left: 10em;
    font-size: 0.8em;
    rotate: -20deg;
    background-color: var(--inverse-backg);
    color: var(--inverse-text);
    padding: 4px;
    border-radius: 5px;
    animation: zoom 1500ms infinite alternate ease-in-out;
  }
  .tech-wrap {
    padding: 24px 0;
  }
  .contacts {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & p {
      font-weight: 700;
    }
    & * {
      width: fit-content;
    }
  }
  .mail {
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
  }
  .mail-wrap {
    position: relative;
  }
  .mail-pop {
    position: absolute;
    top: -1em;
    left: 6em;
    z-index: -1;
    padding: 4px;
    opacity: 0;
  }
  .mail-pop-active {
    animation: pop-in 1500ms ease-in-out;
  }

  @keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }

  @keyframes pop-in {
    0% {
      top: -1em;
      z-index: -1;
      opacity: 0;
    }
    50% {
      top: -2em;
      z-index: 2;
      opacity: 1;
    }
    100% {
      top: -3em;
      opacity: 0;
    }
  }

  @media screen and (min-width: 48rem) {
    .card-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>

<script>
  const mail = document.querySelector(".mail-wrap")!;
  const mailPop = document.querySelector(".mail-pop")!;

  async function clipbrd() {
    await navigator.clipboard.writeText("josefhrebec02@gmail.com");
    mailPop.classList.add("mail-pop-active");
    setTimeout(() => {
      mailPop.classList.remove("mail-pop-active");
    }, 1500);
  }

  mail.addEventListener("click", clipbrd);
</script>
